.jumbotron {
    padding-top: 5rem;
    background-color: #3dc3f4;
}

.profile-img {
    width: 200px;
    max-width: 400px;
    border-radius: 50%;
    animation: float 3s ease-in-out infinite;
    box-shadow: 0px 10px 30px;
    -webkit-animation: float 3s ease-in-out infinite;
}

/* Animasi foto */

@keyframes float {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0px);
    }
}

img {
    width: 150px;
    margin-top: 20px;
}

.card {
    filter: drop-shadow(4px 4px 8px rgba(0, 0, 0, 0.5));
    -webkit-filter: drop-shadow(4px 4px 8px rgba(0, 0, 0, 0.5));
    height: 350px;
}

#projects {
    background-color: #3dc3f4;
}

section {
    padding-top: 1rem;
}

#name, #email, #pesan, #kirim {
        /*filter: drop-shadow(x-offset y-offset blur-radius color);
            */
            filter: drop-shadow(4px 4px 8px rgba(0, 0, 0, 0.5));
            -webkit-filter: drop-shadow(4px 4px 8px rgba(0, 0, 0, 0.5));
}

#social {
    /*filter: drop-shadow(x-offset y-offset blur-radius color);
    */filter: drop-shadow(4px 4px 8px rgba(0, 0, 0, 0.5));
    -webkit-filter: drop-shadow(4px 4px 8px rgba(0, 0, 0, 0.5));
    margin: 7px;
    transition: transform 0.4s ease;
    -webkit-transition: transform 0.4s ease;
    -moz-transition: transform 0.4s ease;
    -ms-transition: transform 0.4s ease;
    -o-transition: transform 0.4s ease;
}

#social:hover {
    transition: transform 0.3s ease;
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    -webkit-transition: transform 0.3s ease;
    -moz-transition: transform 0.3s ease;
    -ms-transition: transform 0.3s ease;
    -o-transition: transform 0.3s ease;
}